
body{
  font-family: 'Exo 2', sans-serif;
  background-color: #121212;
}

header {
    position: relative;
    /* min-height: 1000px; */
    /* height: auto; */
    background-color: #212121;

  }
  
  /* .header__bg {
    position: absolute;
    top: 0;
    bottom: 100;
    right: 0;
    left: 20;
    width: 100%;
    height: 50vh;
    z-index: -1;
   
  } */

  .relative-wrap{
    position: relative;
    width: auto;
    background-color: #212121;


  }

  .row{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }
  
  .overflow-wrap{
    height: 50vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-left: 0px;
  }


  #typed{
    margin-top:2%;
    font-size: 13vh;
    position: relative;
    color: white;
    margin: 0;
    text-align: center;
    width: 100%;
    /* padding: 100px 0; */
    font: 44px;
    /* text-align: left;
    left: 75vh;
    top: 10vh; */
  }
  
  
  #typed2{
    padding-top: 4%;
    font-size: 6vh;
    position: relative;
    color: white;
    width: 100%;
    margin: 0;
    top: -6vh; 
    text-align: center;
    /* padding: 100px 0; */
    font: 44px;
  }

  i{
    color: #BB86FC;
  }

  
 

  .main-pic {
    position: absolute;
    top: 33vh;
    left: 82vh;
    object-fit: cover;

    /* height: 20px;
    width: 20px; */
    /* z-index: 100; */
    border-radius: 50%;
    /* height: 20vh;
    width: 20vh; */

  }

 

  .first{
    margin-top: 15%;
    background-color: #212121;
    /* min-height: 1000px; */
    padding-top: .7%;
    padding-bottom: 3%;
  }

  .card-panel{
    justify-content: center;
    background-color: #303030;
    margin: auto;
  }

  .title{
    /* margin-top: 8%; */

  }

 .head-titles{
  color: rgba(255, 255, 255, 0.9);
  /* margin-top: 8%; */
  }

  #main-cont{
    margin-top: 4%;
    background-color: #212121;
    min-height: 1000px;
    padding-top: .7%;
    height: auto;
    margin-bottom: 5%;
  }

  img{
    filter: brightness(80%);
  }

  a{
    color:#BB86FC;
  }

  .webs{
    background-color: #303030;
    color: rgba(255, 255, 255, 0.8);
    
  }

  .card-title{
    color: rgba(255, 255, 255, 0.8);

  }

  p{
    color: rgba(255, 255, 255, 0.5);
  }

  .card .card-reveal {
    padding: 24px;
    position: absolute;
    background-color: #303030;
    color: white;

    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    height: 100%;
    z-index: 3;
    display: none;
}

  .card-image{
    background: rgba(24, 26, 32, 0.3);
    width:auto;
    height:auto;
  }

  .tech{
    margin-top: 3%;
  }

  @media screen and (max-width: 680px) {

    .tech{
      margin-top: 0px;
    }

    .card-panel{
      margin-top: 3%;
    }
    .main-pic {
      /* background-color: olive; */
      top: 64%;
      left: 37%;
      height: 80px;
      width:80px;
    }

    #typed2{
      padding-top: 10%;
    }

    .head-titles{
      font-size: 30px 
    }

    .overflow-wrap{
      height: 25vh;
      width: 100%;
      overflow: hidden;
      text-align: center;
      padding-left: 0px;
    }

    #typed{
      font-size: 30px;
    }

    #typed2{
      font-size: 25px;
    }

    .first{
      margin-top: 10%;
    }
  }

  @media screen and (max-width: 1050px) {
    .main-pic {
      top: 80%;
      left: 40%;
      height: 250px;
      width:250px;
    }

    .overflow-wrap{
      height: 550px;
    }
  }

  

  @media screen and (max-width: 680px) {

    .tech{
      margin-top: 0px;
    }

    .card-panel{
      margin-top: 3%;
    }
    .main-pic {
      /* background-color: olive; */
      top: 64%;
      left: 37%;
      height: 100px;
      width:100px;
    }

    #typed2{
      padding-top: 10%;
    }

    .head-titles{
      font-size: 30px 
    }

    .overflow-wrap{
      height: 25vh;
      width: 100%;
      overflow: hidden;
      text-align: center;
      padding-left: 0px;
    }

    #typed{
      font-size: 30px;
    }

    #typed2{
      font-size: 20px;
    }

    .first{
      margin-top: 18%;
    }
  }

  @media screen and (max-width: 875px){
    .main-pic {
      top: 62%;
      left: 30%;
      height: 150px;
      width:150px;
    }

    .overflow-wrap{
      height: 250px;
    }

    .first{
      margin-top: 20%;
    }

    #typed{
      font-size: 45px;
      margin-top: 3%;
    }

    #typed2{
      font-size: 25px;
      margin-top: 3%;

    }
  }
