
body{
  font-family: 'Montserrat', sans-serif;
}

header {
    position: relative;
    height: 300px;
    overflow: hidden;
  }
  
  .header__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#ff9d2f, #ff6126);
    transform: skewY(-6deg);
    transform-origin: top left;
  }
  
  
  
  header h1 {
    position: relative;
    color: white;
    margin: 0;
    padding: 100px 0;
    font: 44px;
    text-align: left;
    left: 40vh
  }

  header img {
    position: absolute;
    top: 8vh;
    left: 8vh;
    height: 175px;
    width: 200px;

  }

  hr {
    width: 35%;
    margin-left: 0;
    height: 2px;
    border: none;
    background-image: linear-gradient(#ff9d2f, #ff6126);
  }

  .card-panel {
    background-color: #A9A9A9;
  }

  h5 {
    font-weight: bold;
  }

  .fa-quote-left {
    color: #ff6126;
  }

  .fa-quote-right {
    color: #ff6126;
  }

  .fab {
    color: #ff6126;
  }

  .parallax-container {
    height: "500px";
  }

  input[type=range]::-webkit-slider-thumb {
    background-color:#ff6126;
  }
  input[type=range]::-moz-range-thumb {
    background-color:#ff6126;
  }
  input[type=range]::-ms-thumb {
    background-color: #ff6126;
  }

  input[type=range] + .thumb {
    background-color: #ff6126;
  }